<div>
    <h3 style="text-align: center; font-size: 15px;" mat-dialog-title><strong>Nuevo Tipo</strong></h3>
    <div mat-dialog-content>
        <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 700px; padding: 1rem;">
            <form [formGroup]="agregar">
                <p>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Descripcion</mat-label>
                        <input matInput formControlName="descripcion" type="text" placeholder="Descripcion" name="descripcion" maxlength="40" pattern="[A-Za-z0-9 ]{1,40}">
                        <mat-error *ngIf="descripcion.invalid">{{error_descripcion()}}</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Tipo</mat-label>
                        <input matInput formControlName="tipo" type="number" placeholder="1" name="tipo">
                        <mat-error *ngIf="tipo.invalid">{{error_tipo()}}</mat-error>
                    </mat-form-field>
                </p>
            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancelar()" class="btn btn-secondary">Cancelar</button>
        <button mat-button [mat-dialog-close]="agregar" class="btn btn-danger" [disabled]="agregar.invalid">Agregar</button>
    </div>
</div>