<br>
<h4 class="text-center" style="font-size: 25px;">DETALLE DE VENTAS</h4>
<hr>
<mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Seleccione una fecha" (dateChange)="setear($event.target.value)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>   
<div class="row">
    <div class="col-2"></div>
    <div class="col-sm-8 col-md-8 col-lg-8">
        <table class="table table-sm">
            <thead class="thead-dark">
                <th>#</th>
                <th>Usuario</th>
                <th>Cliente</th>
                <th>Total</th>
                <th>Monto Cancelado</th>
                <th>Ver</th>
            </thead>
            <tbody>
                <tr *ngFor="let h of historial;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{h.id_usuario}}</td>
                    <td>{{h.id_cliente}}</td>
                    <td>{{h.monto}}</td>
                    <td  style="text-align: center;">{{h.total}}</td>
                    <td>
                        <button (click)="ver(i)" style="color: blue; border: none;"><mat-icon>remove_red_eye</mat-icon></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
