<div>
    <h4 mat-dialog-title><strong>Detalle de La venta Realizada</strong></h4>
    <div mat-dialog-content>
        <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">
            <table class="table table-sm">
                <thead class="thead-dark">
                    <th>#</th>
                    <th>Detalle</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                </thead>
                <tbody>
                  <tr *ngFor="let fila of historial;let i = index">
                    <td>{{i+1}}</td>
                    <td>{{fila.id_producto}}</td>
                    <td>{{fila.cantidad}}</td>
                    <td>{{fila.precio}}</td>
                    <td>{{fila.total}}</td>
                </tr>
                <tr class="table-warning">
                    <td colspan="4">Total</td>
                    <td><strong>{{total}}</strong>
                </td>
                </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button class="btn btn-primary" (click)="cancelar()">Cerrar</button>
        
    </div>
</div>