<div class="row">
  <br>
  <h3 style="text-align: center; font-size: 30px; width: 100%;"><strong>Venta</strong></h3>
  <div class="col-1"></div>
  <div class="col-10">
    <hr>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-danger" (click)="pc()">Combo Computadora</button>
      <button type="button" class="btn btn-outline-danger" (click)="camara()">Camara</button>
      <button type="button" class="btn btn-outline-danger" (click)="simple()">Venta Simple</button>
    </div>
    <hr>
    <app-combopc *ngIf="combo1"></app-combopc>
    <app-combo-camara *ngIf="combo2"></app-combo-camara>
    <app-simple *ngIf="combo3"></app-simple>
    </div>
</div>    
