<br>
<h4>LISTADO DE PRODUCTOS</h4>  
<br>
<!-- <div class="row">
  <div class="col-lg-8 offset-2">
    <input type="search" class="form-control" placeholder="Buscar" name="filterPost"  [(ngModel)]="filterpost"  maxlength="20">
  </div>
</div> -->
<!-- <br>   -->
<div class="row">
    <div class="col-xl-10 col-lg-10 col-sm-10 offset-1">
        <div class="btn-group" role="group" aria-label="button group">
          <button class="btn btn-outline-primary" (click)="agregar()" > <mat-icon>add</mat-icon> Nuevo Producto</button>
          <!-- <button class="btn btn-outline-dark" (click)="agregar()" > <mat-icon>picture_as_pdf</mat-icon> Imprimir</button> -->
        </div>
    </div>
</div>
  <div class="row">
      <div class="col-xl-12 col-lg-12 col-sm-10">
        <br>
        <hr>
        <div>
            <table class="table table-sm" style="font-size: 12px;">
              <thead class="thead-dark">
                <tr style="text-align: center;">
                  <th>Codigo</th>
                  <th>Imagen</th>
                  <th>Clasificacion</th>
                  <th>Descripcion</th>
                  <th>Cantidad</th>
                  <th>Precio Compra</th>
                  <th>Precio Tienda</th>
                  <th>Precio Final</th>
                  <th>Opcion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cat of productos;let i=index" style="text-align: center;">
                  <td>{{cat.codigo}}</td>
                  <td><img appImagenRota [src]="base+cat.imagen" alt="Foto" height="50px" width="50px"></td>
                  <td>{{tipo(cat.id_detalle) }}</td>
                  <td style="text-align: left;">{{cat.detalle}}</td>
                  <td>{{cat.cantidad}}</td>
                  <td>{{cat.precio_compra}}</td>
                  <td>{{cat.precio_tienda}}</td>
                  <td>{{cat.precio_final}}</td>
                  <td>
                    <div class="btn-group" role="group" >
                      <button type="button" style="border: none;color: green;" (click)="editar(cat)">
                        <mat-icon>edit</mat-icon>                      
                      </button>
                      <button (click)="eliminar(cat.id)" style="border: none;color: red;">
                        <mat-icon>delete</mat-icon>
                      </button>    
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>      
      </div>
      </div>